{
  "version": 2,
  "plugins": {
    "coderabbit@claude-plugins-official": [
      {
        "scope": "project",
        "projectPath": "{{ .chezmoi.homeDir }}/ghq/github.com/REDACTED/REDACTED",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/coderabbit/1.0.0",
        "version": "1.0.0",
        "installedAt": "2026-03-10T13:20:06.208Z",
        "lastUpdated": "2026-03-10T13:20:06.208Z",
        "gitCommitSha": "51651e86d8d71e150e13313f43298f212abb47db"
      },
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/coderabbit/1.0.0",
        "version": "1.0.0",
        "installedAt": "2026-03-12T22:44:02.891Z",
        "lastUpdated": "2026-03-12T22:44:02.891Z",
        "gitCommitSha": "51651e86d8d71e150e13313f43298f212abb47db"
      }
    ],
    "frontend-design@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/frontend-design/79caa0d824ac",
        "version": "79caa0d824ac",
        "installedAt": "2026-03-12T11:34:50.886Z",
        "lastUpdated": "2026-03-24T11:07:55.308Z",
        "gitCommitSha": "b36fd4b753018b0b340803579399992a32e43502"
      }
    ],
    "code-review@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/code-review/79caa0d824ac",
        "version": "79caa0d824ac",
        "installedAt": "2026-03-12T23:56:23.254Z",
        "lastUpdated": "2026-03-24T11:07:55.308Z",
        "gitCommitSha": "b36fd4b753018b0b340803579399992a32e43502"
      }
    ],
    "skill-creator@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/skill-creator/79caa0d824ac",
        "version": "79caa0d824ac",
        "installedAt": "2026-03-14T08:00:11.507Z",
        "lastUpdated": "2026-03-24T11:07:55.314Z",
        "gitCommitSha": "d5c15b861cd23e3102215c26020368ad5134dc47"
      }
    ],
    "context7@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/context7/79caa0d824ac",
        "version": "79caa0d824ac",
        "installedAt": "2026-03-19T06:04:41.186Z",
        "lastUpdated": "2026-03-24T11:07:55.304Z",
        "gitCommitSha": "158ef95c6f7fc1b5629b5a915e2af2c07d15e237"
      }
    ],
    "atlassian@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/atlassian/385c1469c567",
        "version": "385c1469c567",
        "installedAt": "2026-03-19T06:05:06.811Z",
        "lastUpdated": "2026-03-19T06:05:06.811Z",
        "gitCommitSha": "385c1469c567399970e1d3fc23687a0312aa63dc"
      }
    ],
    "superpowers@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/superpowers/5.0.5",
        "version": "5.0.5",
        "installedAt": "2026-03-24T11:54:49.753Z",
        "lastUpdated": "2026-03-24T11:54:49.753Z",
        "gitCommitSha": "8ea39819eed74fe2a0338e71789f06b30e953041"
      }
    ]
  }
}