{
  "version": 2,
  "plugins": {
    "coderabbit@claude-plugins-official": [
      {
        "scope": "project",
        "projectPath": "{{ .chezmoi.homeDir }}/ghq/github.com/isub-inc/vivaya-frontend-template",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/coderabbit/1.0.0",
        "version": "1.0.0",
        "installedAt": "2026-03-10T13:20:06.208Z",
        "lastUpdated": "2026-03-10T13:20:06.208Z",
        "gitCommitSha": "51651e86d8d71e150e13313f43298f212abb47db"
      },
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/coderabbit/1.0.0",
        "version": "1.0.0",
        "installedAt": "2026-03-12T22:44:02.891Z",
        "lastUpdated": "2026-03-12T22:44:02.891Z",
        "gitCommitSha": "51651e86d8d71e150e13313f43298f212abb47db"
      }
    ],
    "frontend-design@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/frontend-design/78497c524da3",
        "version": "78497c524da3",
        "installedAt": "2026-03-12T11:34:50.886Z",
        "lastUpdated": "2026-03-17T14:22:19.816Z",
        "gitCommitSha": "b36fd4b753018b0b340803579399992a32e43502"
      }
    ],
    "code-simplifier@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/code-simplifier/1.0.0",
        "version": "1.0.0",
        "installedAt": "2026-03-12T23:56:01.347Z",
        "lastUpdated": "2026-03-12T23:56:01.347Z",
        "gitCommitSha": "b36fd4b753018b0b340803579399992a32e43502"
      }
    ],
    "code-review@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/code-review/78497c524da3",
        "version": "78497c524da3",
        "installedAt": "2026-03-12T23:56:23.254Z",
        "lastUpdated": "2026-03-17T14:22:19.815Z",
        "gitCommitSha": "b36fd4b753018b0b340803579399992a32e43502"
      }
    ],
    "skill-creator@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/skill-creator/78497c524da3",
        "version": "78497c524da3",
        "installedAt": "2026-03-14T08:00:11.507Z",
        "lastUpdated": "2026-03-17T14:22:19.822Z",
        "gitCommitSha": "d5c15b861cd23e3102215c26020368ad5134dc47"
      }
    ]
  }
}