{
  "claude-plugins-official": {
    "source": {
      "source": "github",
      "repo": "anthropics/claude-plugins-official"
    },
    "installLocation": "{{ .chezmoi.homeDir }}/.claude/plugins/marketplaces/claude-plugins-official",
    "lastUpdated": "2026-04-03T23:30:43.164Z"
  }{{ if .codex_enabled }},
  "openai-codex": {
    "source": {
      "source": "github",
      "repo": "openai/codex-plugin-cc"
    },
    "installLocation": "{{ .chezmoi.homeDir }}/.claude/plugins/marketplaces/openai-codex",
    "lastUpdated": "2026-03-31T00:27:59.309Z"
  }{{ end }}
}